<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="app">
    <header class="header">
      <nav class="nav">
        <div class="nav__logo">Members Only</div>
        <% if (locals.login) { %>
        <ul class="navigation">
          <% if (locals.isMember) { %>
          <li class="navigation__item">
            <a href="/create-new-message" class="navigation__link">Create message</a>
          </li>
          <% } else { %>
          <li class="navigation__item">
            <a href="/join-the-club" class="navigation__link">Join The Club</a>
          </li>
          <% } %>

          <li class="navigation__item">
            <a href="/logout" class="navigation__link">Log Out</a>
          </li>
        </ul>
        <% } else { %>
        <ul class="navigation">
          <li class="navigation__item">
            <a href="/login" class="navigation__link">Login</a>
          </li>
          <li class="navigation__item">
            <a href="/sign-up" class="navigation__link">Sign Up</a>
          </li>
        </ul>
        <% } %>
      </nav>
    </header>

    <main class="main">
      <div class="messages">
        <% messages.forEach(function(message) { %>
        <div class="message">
          <div class="message__primary">
            <div class="message__title"><%= message.title %></div>
            <div class="message__text"><%= message.text %></div>
          </div>
          <% if (locals.isMember) { %>
          <div class="message__info">
            <div class="message__added"><%= message.added %></div>
            <div class="message__author"><%= message.author %></div>
            <% if (locals.isAdmin) { %>
            <div class="message__delete">
              <a href="/delete/<%= message.id %>" class="message__delete--button">Delete</a>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
        <% }); %>
      </div>
    </main>
  </div>
</body>

</html>